body{
  background-color: #00DFA2;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.item{
  height:175px;
  width:30%;
  background-color: #116D6E;
  border-radius: 20px;
}
button{
  margin-top:10px;
  border:none;
  border-radius: 10px;
  height: 30px;
  width:20%;
  background-color: #FDCEDF;
}
a{
  text-decoration: none;
}
